# KEEP `npmjs registry`, ONLY some `special registry` use mirrors

sharp_binary_host "https://npm.taobao.org/mirrors/sharp"
sharp_libvips_binary_host "https://npm.taobao.org/mirrors/sharp-libvips"

sqlite3_binary_host_mirror "https://npm.taobao.org/mirrors"
sqlite3_binary_site "https://npm.taobao.org/mirrors/sqlite3"
node_sqlite3_binary_host_mirror "https://npm.taobao.org/mirrors"

electron_mirror "https://npm.taobao.org/mirrors/electron/"
phantomjs_cdnurl "https://npm.taobao.org/mirrors/phantomjs"
puppeteer_download_host "https://npm.taobao.org/mirrors"
chromedriver_cdnurl "https://npm.taobao.org/mirrors/chromedriver"
operadriver_cdnurl "https://npm.taobao.org/mirrors/operadriver"

fse_binary_host_mirror "https://npm.taobao.org/mirrors/fsevents"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass"
profiler_binary_host_mirror "https://npm.taobao.org/mirrors/node-inspector/"
python_mirror "https://npm.taobao.org/mirrors/python"
